{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'order/css/formstyle.css' %}">
{% endblock links %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message_type == 'success' %}
        <p class="success-text">{{ message }}</p>
        {% else %}
        <p class="error-text">{{ message }}</p>
        {% endif %}
    {% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Забронювати">
</form>
<br>
{% for product in list_products %}
    <div class="product_in_cart">
        <p>{{product.0}}</p>
        <p>{{product.1}} ГРН</p>
        <p>{{product.2}} ШТ</p>
        <img src="{{product.0.photo.url}}" alt="" style="width:150px;height:200px;">
    </div>
{% endfor %}
{% endblock content %}
