{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'order/css/formstyle.css' %}">
<link rel="stylesheet" href="{% static 'order/css/cartstyle.css' %}">
{% endblock links %}



{% block content %}
<h1>Оформити замовлення</h1>
<div class="wrapper-order">
    <div class="block-form">
        {% if show_format_choice !=  False%}
            <div class="choice-format">
                <span class="title-list-format">Формат замовлення</span>
                <ul class="list-format">
                    <li><a href="{% url 'reservation' %}"><span class="list-dot">&#x25CB;</span>Бронювання столику</a></li>
                    <li><span class="list-dot">&#x25CF;</span>Самовивіз</li>
                    <li><a href="{% url 'delivery' %}"><span class="list-dot">&#x25CB;</span>Доставка</a></li>
                </ul>
            </div>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
                {% if message_type == 'success' %}
                <p class="success-text">{{ message }}</p>
                <span class="to-home"><a href="{% url 'home' %}">На головну</a></span>
                {% else %}
                <p class="error-text">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {% for el in form %}
                
                <div class="field-block">
                    <span>{{el.label}}</span>
                    <div class="field">{{el}}</div>
                </div>
            {% endfor %}
            <div class="block-price">
                <p class="price">Вартість замовлення: 
                    <span class="value">330 ГРН</span>
                </p>
                <p class="total-price">Всього: 
                    <span class="value">330 ГРН</span>
                </p>
            </div>
            
            <input type="submit" value="Забронювати" class="btn">
        </form>
    </div>

    <div class="block-cart">
        <div class="block-cart__product">
            <div class="product__img">
                <img src="{{path_pref}}media/photos/2022/05/31/IMG_2401.JPG" alt="">
            </div>
        </div>
        <!-- <div class="block-cart__empty">
            <span class="empty-text">
                У вас немає замовлень! Будь ласка, 
                перейдіть до меню та оберіть бажані
                страви, потім підтвердіть ваше замовлення!
            </span>
            <div class="to-menu">
                <a href="{% url 'all_menu' %}">Перейти в меню</a>
            </div>
        </div> -->
    </div>
</div>
{% endblock content %}