{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/basestyle.css' %}" type="text/css">
    {% block links %}
    {% endblock links %}
    <title>{{title}}</title>
</head>

<body>
    <div class="page">
        <header>
            <div class="wrapper">
                <div class="head">
                    <div class="head__logo">
                        <a href="{% url 'home' %}"><img src="{{path_pref}}media/photos/template_images/logo.png" alt="logo"></a>
                    </div>
                    <ul class="head__buttons">
                        <li><a href="tel:+{{ rest_info.rest_phone_number }}" class=""><ion-icon name="call-outline"></ion-icon></a></li>
                        <li><a href="{% url 'reservation' %}"><ion-icon name="basket-outline"></ion-icon></a></li>
                        <li><a href="#" class="burger-menu__button"><ion-icon name="menu-outline"></ion-icon></a></li>   
                    </ul>
                </div>
                <div class="burger-menu">
                    <ul class="burger-menu__links">
                        <li><a href="#" class="burger-menu__button"><ion-icon name="close-outline"></ion-icon></a></li>
                        <li class="li-logo"><a href="{% url 'home' %}"><img src="{{path_pref}}media/photos/template_images/logo.png" alt="logo"></a></li>
                        <li><a href="{% url 'all_menu' %}" class="link">Меню</a></li>
                        <li><a href="{% url 'reservation' %}"class="link">Бронювання столику</a></li>
                        <li><a href="{% url 'about_us' %}"class="link">Про нас</a></li>
                        <li><a href="{% url 'contacts' %}"class="link">Контакти</a></li>
                        <li><a href="{% url 'review_form' %}"class="link">Ваш відгук</a></li>
                    </ul>
                    <div class="burger-menu__overlay"></div>
                </div>
        </header>
            
        </div>
        <main>
            <div class="wrapper">
                {% block content %}
            
                {% endblock content %}
            </div>
        </main>
        <footer> 
            <div class="wrapper">
                <div class="rest-name">Ресторан «Мануфактура»</div>
                <div class="footer">
                    
                    <div class="footer__info-blocks">
                        <div class="footer__contacts">
                            <div class="title">
                                <span class="title__icon"><img src="{{path_pref}}media/photos/icons/mail-outline.svg" alt=""></ion-icon></span>
                                <span class="title__text">КОНТАКТИ</span>
                            </div>
                            <div class="info">
                                <p><a href="tel:+{{ rest_info.rest_phone_number }}" class="">+{{ rest_info.rest_phone_number }}</a></p>
                                <p><a href="{% url 'review_form' %}"> Залишити відгук</a></p>
                            </div>
                        </div>
                        <div class="footer__adress">
                            <div class="title">
                                <span class="title__icon"><img src="{{path_pref}}media/photos/icons/location-outline.svg" alt=""></span>
                                <span class="title__text">АДРЕСА</span>
                            </div>
                            <div class="info">
                                <p><a href="https://goo.gl/maps/ve2uTqchceLYKTTX6">Дніпро, вулиця М. Грушевського 4А</a></p>
                            </div>
                        </div>
                        <div class="footer__time-working">
                            <div class="title">
                                <span class="title__icon"><img  src="{{path_pref}}media/photos/icons/time-outline.svg" alt=""></ion-icon></span>
                                <span class="title__text">ЧАС РОБОТИ</span>
                            </div>
                            <div class="info">
                                <p>Ми працюємо {{ rest_info.time_working }}</p>
                            </div>
                        </div>
                        <div class="footer__instagram">
                            <div class="title">
                                <span class="title__icon"><img src="{{path_pref}}media/photos/icons/logo-instagram.svg" alt=""></span> 
                                <span  class="title__text">НАШ Instagram</span>
                            </div>
                            <div class="info">
                                <p><a href="https://instagram.com/manufactura.restaurant">Слідкувати</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <p>© 2022 Manufactra Restaurant</p>
                    <p> Весь контент, опублікований на сайті, належить ТОВ Ресторан Мануфактура.
                        Використання цього контенту в будь-яких цілях заборонено.</p>
                </div>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'base/js/basescripts.js' %}"></script>
    </div>
</body>
</html>
