/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ------------------------------------------------- */

body{
	background-color: #b9b9b9
}

/* Настройка хедера */
header{
	background-color: #f4f5ef;
	height: 70px;
	position: fixed;
	width: 100%;
	
}

.wrapper{
	margin: 0 auto;
}

.head{
	display: flex;
	justify-content: space-between;
}

.head__buttons{
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.head__buttons li a{
	font-size: 35px;
	color: black;
	margin-left: 20px;
}

.head__buttons li a:hover{
	color: grey;
}

.head__logo{
	margin-left: 20px;
}
.head__logo img{
	height: 70px;
}



/* Настройка бургер-меню */
.burger-menu__button{
	font-size: 25px;
}

.burger-menu__links{
	position: fixed;
	top:0;
	z-index: 20;
	display: flex;
	flex-flow:column;
	height: 100%;
	background-color:  wheat;
	overflow-y: auto;
	right:-100%;
	transition: 0.5s;
}

.burger-menu_active .burger-menu__links{
	right:0%
}
.burger-menu__links li{
	padding: 30px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: black;
	
}

.burger-menu__links li img{
	height: 70px;
}

.burger-menu__links li .burger-menu__button{
	font-size: 40px;
}
.burger-menu__links li a{
	color: black;
}

.burger-menu__links li a:hover{
	color: white;
}



.burger-menu__overlay{
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.burger-menu_active .burger-menu__overlay{
	display: block;
}

@media (max-width:767px) {
	.burger-menu_active .burger-menu__links{	
		width: 100%;
	}
	
}