/* Формление главного блока */

.main-block{
   background-image: url('/media/photos/template_images/mainpage/bg_mainblock.png');
   background-repeat:no-repeat;
   background-position:center;
   background-size: cover;
   text-align: center;
   height: 700px;
   padding-top: 15ch;
}


.main-block__title{
    padding: 15px;
    font-size: 90px;
    font-weight: bold;
    color: white;
}

.main-block__slogan{
    padding: 5px;
    font-size: 35px;
    color: white;
    font-style: italic;
}
.main-block .container-buttons{
    max-width: 600px;
    margin: 0 auto;
}

.main-block__buttons{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}



.main-block .to-menu{
    margin-top: 30px;
    width:200px;
    height: 50px;
    background-color: gold;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: black;
}

.main-block .to-reservation{
    margin-top: 30px;
    width:200px;
    height: 50px;
    border: 3px white solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    
}

.main-block .to-menu:hover{
    background-color: gray;
}

.main-block .to-reservation:hover{
    border-color: gray;
    color: gray;
}


/* Формление слайдера */


#slider{
    margin: 50px auto 0 auto;
    width:65vh;
    height: 45vh;
    overflow: hidden;
}

#slider__buttons{
    z-index: 2;
    position: relative;
    top:50%;
}

#slider__prev{
    display: inline-block;
    margin-right: 60%;
}


#slider ul{
    z-index: 1;
    position: relative;
    list-style: none;
    transition: all 750ms ease;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 10000%;
    left:0;
    
}

#slider ul li{
    float: left;
    border-radius: 20px;
}

#slider img{
    border-radius: 20px;
    width: 65vh; 
    height:25vh
}

#slider a{
    cursor: pointer;
    font-size: 40px;
    color: white;
}   


#slider a:hover{
    color:yellow
}



/* Оформление блока о сайте, инстаграмме и контактах */
.about-block, .contacts-block, .follow-us-block {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    max-width: 200vh;
}

.about-block__info, .contacts-block__info, .follow-us-block__info {
    max-width: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}


.about-block__title, .contacts-block__title, .follow-us-block__title{
    font-size: 50px;
    font-weight: bold;
}

.about-block__text, .follow-us-block__text{
    margin-top: 20px;
    font-size: 16px;
}

.about-block__button a, .follow-us-block__button a{
    margin-top: 20px;
    width:160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 18px;
    border-radius: 20px;
    color: white;
}


.about-block__button a:hover, .follow-us-block__button a:hover{
    background-color: grey;
}



.about-block__image, .contacts-block__map-img{
    width: 80vh;
    margin: 10px;

}

.about-block__image img, .contacts-block__map-img iframe{
    width: 80vh;
    border-radius: 20px;
    
}


.follow-us-block img{
    margin-top: 10px;
    width: 40vh;
    border-radius: 20px;
}







.contacts-block{
    flex-flow: wrap-reverse;
    margin-bottom: 50px;
}
.contacts-block__map-img iframe, .contacts-block__map-img{
    height: 60vh;
}

.contacts-block__address{
    margin-top: 20px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    background-image: url('/media/photos/icons/location-outline.svg');
    background-size: 25px;
    background-repeat: no-repeat;
}
.contacts-block__address span{
    display: inline-block;
    padding-left: 25px;
    padding-top: 4px;
    

}

.contacts-block__time-working, .contacts-block__phone-number{
    margin-top: 20px;
    font-size: 16px;
}

.contacts-block__phone-number a{
    font-style: italic;
    color: #551a8b;
    font-weight: bold
}

.contacts-block__instagram{
    margin-top: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    background-image: url('/media/photos/icons/logo-instagram.svg');
    background-size: 20px;
    background-repeat: no-repeat;
}


.contacts-block__instagram span{
    display: inline-block;
    padding-left: 25px;
    padding-top: 2px;


}


/* Медиа-запросы */
@media (max-width:1023px){
   
    #slider{
        max-width: 55vh;
        max-height: 35vh; 
    
    }
    #slider img{
        width: 55vh;
        height:  17,1vh
    } 

    #slider__buttons{
        top:40%;
    }

    .follow-us-block, .follow-us-block__info{
        max-width: 55vh;
    }
    .follow-us-block img{
        max-width: 24vh;
    }
    .about-block__image, .about-block__image img, .about-block__info, .about-block{
        max-width: 55vh;
    }
    .contacts-block, .contacts-block__map-img, .contacts-block__map-img iframe{
        max-width: 55vh;
    }
    .contacts-block__map-img iframe,  .contacts-block__map-img{
        max-height: 55vh;
    }

 

}

@media (max-width:767px) {

    #slider{
        width: 45vh;
        height: 31vh;
    
    }
    #slider img{
        width: 45vh;
        height: 15,3vh;
    }  

    #slider__buttons{
        top:40%;
    }
	.main-block__title{	
		font-size: 45px;
	}

    .main-block__slogan{
        font-size: 22.5px;
    }

    .main-block .container-buttons{
        max-width: 200px;
        
    }

    .follow-us-block img, .follow-us-block__info{
        max-width: 45vh;
    }
    .about-block__image, .about-block__image img, .about-block__info{
        max-width: 45vh;
    }
    .contacts-block, .contacts-block__map-img, .contacts-block__map-img iframe{
        max-width: 45vh;
    }
    .contacts-block__map-img iframe,  .contacts-block__map-img{
        max-height: 45vh;
    }
    

   
    
}

@media (max-width:411px) {
    /* #slider, #slider img{
        max-width: 40vh;
        max-height: 31vh;
    
    }
    #slider img{
        height: 15,3vh;
    }  */

    #slider__buttons{
        top:40%;
    }
    .follow-us-block, .follow-us-block__info{
        max-width: 40vh;
    }
    .follow-us-block img{
        max-width: 40vh;
    }

    .follow-us-block img, .follow-us-block__info{
        width: 40vh;
    }
    .about-block__image, .about-block__image img, .about-block__info{
        max-width: 40vh;
    }
    .contacts-block, .contacts-block__map-img, .contacts-block__map-img iframe{
        max-width: 40vh;
    }
    .contacts-block__map-img iframe,  .contacts-block__map-img{
        max-height: 40vh;
    }
    

   
    
}
