{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage/css/basestyle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'menu/css/menustyle.css' %}" type="text/css">
    <script src="{% static 'menu/js/menuscripts.js' %}"></script>
    <title>{{title}}</title>
</head>
<body>
    <ul class="sidebar">
        <li><a href="{% url 'all_menu' %}">Меню</a></li>
        <li><a href="{% url 'reservation' %}">Бронювання столику</a></li>
        <li><a href="{% url 'about_us' %}">Про нас</a></li>
        <li><a href="{% url 'contacts' %}">Контакти</a></li>
        <li><a href="{% url 'review_form' %}">Ваш відгук</a></li>
    </ul>

    {% block content %}

    {% endblock content %}
</body>
</html>