{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'menu/css/menustyle.css' %}">
{% endblock links %}

{% block content %}
<div class="h-scroller">
    <div class="h-scroller__items">
        {% if category_selected != 0 %}
            <a href="{% url 'all_menu' %}" class="h-scroller__item">Усі страви</a>
        {% else %}
            <a href="#" class="h-scroller__item selected_category">Усі страви</a>
        {% endif %}
        
        {% for cat in categories %}
            {% if cat.pk != category_selected %}
                <a href="{{cat.get_absolute_url}}" class="h-scroller__item">{{cat}}</a>
            {% else %}
                <a href="#" class="h-scroller__item selected_category">{{cat}}</a>
            {% endif %}
        {% endfor %}
        
    </div>

</div>


<!-- Показываем блюда -->
<div class="products-container">
    {% for cat in categories %}
        {% if showing_all_menu %}
            <p class="category-title">{{cat}}</p> 
            <p class="categoty-underline">____________________________________________</p>
        {% endif %}
        <div class="list">
            {% for product in products %}

                {% if product.cat == cat %}
                    
                    <div class="product">
                        <div class="product_photo">
                            <p><img src="{{product.photo.url}}" ></p> 
                        </div>
                        <div class="product_text">
                            <p class="name">{{product.name}}</p>
                            <p class="composition">{{product.composition}}</p>
                            <div class="product__bottom">
                                <span class="price">{{product.price}} грн</span>
                                <button class="btn btn-success btn-buy" type="submit">
                                <img src="{{path_pref}}media/photos/icons/basket-outline.svg" alt=""></button>
                                <!-- <form id="form-buying-product" class="form-buying-product" >action="/% url 'add_to_cart' %/" -->
                                    <!-- {% csrf_token %} -->
                                    <!-- <input type="number" class="product-amount" id='product_amount' value="1">  -->
                                    <!-- <button class="btn btn-success btn-buy" type="submit"  -->
                                    <!-- data-product-name= "{{product.name}}" -->
                                    <!-- data-product-price= "{{product.price}}" -->
                                    <!-- data-product-slug= "{{product.slug}}"> -->
                                    <!-- <img src="{{path_pref}}media/photos/icons/basket-outline.svg" alt=""></button> -->
                                <!-- </form>     -->
                            </div>
                        </div>
                    </div>
                {% endif %}
            {%endfor%}
        </div>
    {% endfor %}
</div>    

{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'menu/js/menuscripts.js' %}"></script>
{% endblock scripts %}