{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'menu/css/menustyle.css' %}">
{% endblock links %}

{% block content %}
<div class="h-scroller">
    <div class="h-scroller__items">
        {% if category_selected != 0 %}
            <a href="{% url 'all_menu' %}" class="h-scroller__item">Усі страви</a>
        {% else %}
            <a href="#" class="h-scroller__item selected_category">Усі страви</a>
        {% endif %}
        
        {% for cat in categories %}
            {% if cat.pk != category_selected %}
                <a href="{{cat.get_absolute_url}}" class="h-scroller__item">{{cat}}</a>
            {% else %}
                <a href="#" class="h-scroller__item selected_category">{{cat}}</a>
            {% endif %}
        {% endfor %}
        
    </div>

</div>


<!-- Показываем блюда -->
<div class="products-container">
    {% for cat in categories %}
        {% if showing_all_menu %}
            <p class="category-title">{{cat}}</p> 
        {% endif %}
        <div class="list">
            {% for product in products %}

                {% if product.cat == cat %}
                    
                    <div class="product">
                        <div class="product_photo">
                            <p><img src="{{product.photo.url}}" class="product__img"></p> 
                        </div>
                        <div class="product_text">
                            <p class="name">{{product.name}}</p>
                            <p class="composition">{{product.composition}}</p>
                            <div class="product__bottom">
                                <span class="price">{{product.price}} грн</span>
                                <button class="btn btn-success btn-buy" type="submit">
                                <img src="{{path_pref}}media/photos/icons/basket-outline.svg" alt=""></button>
                            
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="modal"></div>
                <form action="{% url 'add_to_cart' %}" id="modal__form" >
                    {% csrf_token %}
                    <div class="modal__content">
                    <i class="modal__close far fa-times-circle">&times;</i>
                    <div class="modal__left">
                        <img class="modal__img" src="" alt="">
                    </div>
                    <div class="modal__right">
                        <div class="detail">
                        <p class="detail__title" id="product-name"></p>
                        <p class="detail__description"></p>
                        <p class="detail__price" ></p>
                        <div class="switch">
                            <label for="Quantity">Кількість</label>
                            <div class="input_group">
                                <button class="input_group_text decrement_btn">-</button>
                                <input name="quantity" class="form_control" id="product_qty" value="1" type="number" readonly>
                                <button class="input_group_text increment_btn">+</button>
                            </div>
                        </div>
                        <button class="detail__bagBtn" type="submit">До замовлень</button>
                        </div>
                    </div>
                    </div>
                </form>
            {%endfor%}
        </div>
    {% endfor %}
</div>    

{% endblock content %}

{% block scripts %}
<script src="{% static 'menu/js/modal_window_scripts.js' %}"></script>
<script src="{% static 'menu/js/jquery-3.6.0.js' %}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="{% static 'menu/js/switch.js' %}"></script>
<script src="{% static 'menu/js/make_order_script.js' %}"></script>
{% endblock scripts %}