{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'menu/css/menustyle.css' %}">
{% endblock links %}

{% block content %}

<p><a href="{% url 'reservation' %}">Ваші замовлення</a></p>
<!-- Выпадающий список для выбора категории -->
<form name="menu">
    <select name="categories" onChange="linklist(document.menu.categories)">
    <option value="#">Оберіть категорію страви</option>

    {% if category_selected != 0 %}
    <option value="{% url 'all_menu' %}">Усі страви</option>
    {% else %}
    <option value="#" class="selected_category">Усі страви</option>
    {% endif %}
    {% for cat in categories %}
  
    {% if cat.pk != category_selected %}
    <option value="{{cat.get_absolute_url}}">{{cat}}</option>
    {% else %}
    <option value="#" class="selected_category">{{cat}}</option>
    {% endif %}
    {% endfor %}
    </select>
</form>

<!-- Показываем блюда -->
<div class="list">
    {% for product in products %}
    <div class="product">
        <div class="product_photo">
            <p><img src="{{product.photo.url}}" ></p> 
        </div>
        <div class="product_text">
            <p class="name">{{product.name}}</p>
            <p class="composition">{{product.composition}}</p>
            <p class="price">{{product.price}} грн</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}