{% extends 'restaurant_admin/base.html' %}
{% load  static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'restaurant_admin/css/menustyle.css' %}">
{% endblock links %}
    
    
{% block content %}
    <header>
        <div class="wrapper">
            <div class="head">
                <div class="head__logo">
                    <a href="#"><img src="{{path_pref}}media/photos/template_images/logo.png" alt="logo"></a>
                </div>
                <div class="head__slogan">
                    <span>Редагування меню</span>
                </div>
                <ul class="head__buttons">
                    <li><a href="#"><img src="{{path_pref}}media/photos/icons/log-out-outline.svg" alt="" class="icon"></a></li>   
                </ul>
            </div>
        </div>
    </header>
    <main>
    <div class="h-scroller">
        <div class="h-scroller__items">
            {% if category_selected != 0 %}
                <a href="{% url 'all_menu_for_editing' %}" class="h-scroller__item">Усі страви</a>
            {% else %}
                <a href="#" class="h-scroller__item selected_category">Усі страви</a>
            {% endif %}
            {% for cat in categories %}
                {% if cat.pk != category_selected %}
                    <div class="edit_cat">
                        <a href="{{cat.get_absolute_url_for_editing}}" class="h-scroller__item cat-sp">{{cat}}</a>  
                        <button class="btn-edit-cat btn-edit "><img src="{{path_pref}}media/photos/icons/pencil-outline.svg" alt=""></button>
                    </div>
                {% else %}
                    <div class="edit_cat">
                        <a href="#" class="h-scroller__item selected_category cat-sp">{{cat}}</a>
                        <button class="btn-edit-cat btn-edit "><img src="{{path_pref}}media/photos/icons/pencil-outline.svg" alt=""></button>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="add_cat"><a href="#" class="h-scroller__item">+</a></div>
        </div>
    </div>
    <div class="modal-category"></div>
    <div class="modal__content-category">
        <i class="modal__close-category far fa-times-circle">&times;</i>
        <form action="" method="post" class="cat_form">
            {% csrf_token %}
            <span class="title-modal-category"></span>
            <div class="field">
                <span class="cat_name"><input type="text" placeholder="Ім'я категорії"></span>
            </div>
            <div class="field">
                <span class="cat_number"><input type="number" placeholder="Номер"></span>
            </div>
            <div class="field">
                <span class="but">
                    <button class="detail__bagBtn delete-category" type="submit" id="del-category">Видалити</button>
                    <button class="detail__bagBtn other-category" type="submit"></button>
                </span>
            </div>
        </form>
    </div>  
    <!-- Показываем блюда -->
    <div class="products-container">
        {% for cat in categories %}
            {% if showing_all_menu %}
                <p class="category-title">{{cat}}</p> 
            {% endif %}
            <div class="list">
                {% for product in products %}

                    {% if product.cat == cat %}

                        <div class="product">
                            <input type="text" hidden class="pk" value="{{ product.pk }}">
                            
                            <div class="product_photo">
                                <p><img src="{{product.photo.url}}" class="product__img"></p> 
                            </div>
                            <div class="product_text">
                                <p class="name">{{product.name}}</p>
                                
                                <p class="composition">{{product.composition}}</p>
                                <div class="product__bottom">
                                    <span class="price"><span class="price num">{{product.price}}</span> грн</span>
                                    <button class="btn-edit-dish btn-edit" type="submit">
                                    <img src="{{path_pref}}media/photos/icons/pencil-outline.svg" alt=""></button>
                                    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="modal-menu"></div>
                    <form id="modal__form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="modal__content-menu">
                            <i class="modal__close-menu far fa-times-circle">&times;</i>
                            
                            <div class="modal__left">
                                <img src="" alt="" id="image_id" class="load-img" >
                                <label class="b"><input type="file" id="file_id" name="product-image">Обрати файл</label>
                            </div>
                            <div class="modal__right">
                                <div class="detail">
                                    <input type="text" hidden class="chosen-pk" name="chosen-pk">
                                    <input type="text" hidden class="chosen-prod-cat-id" name="chosen-prod-cat-id">
                                    <span class="title-modal-menu"></span>
                                    <p class="detail__title" id="product-name" ><input type="text" placeholder="Ім'я страви" name="product-name" required></p>
                                    <p class="detail__description"><textarea name="product-description" id="" cols="30" rows="10" placeholder="Склад страви"></textarea></p>
                                    <p class="detail__price"><input type="number" placeholder="Ціна" name="product-price" required> грн</p>
                                    <div class="buttons">
                                        <button class="detail__bagBtn delete-menu" type="submit" id="del-menu" name = 'modal-button' value="del">Видалити</button>
                                        <button class="detail__bagBtn other-menu" type="submit" name = 'modal-button'></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {%endfor%}
                
                {% if category_selected == cat.pk or category_selected == 0%}
                    <div class="modal_pr">
                        <input type="text" hidden class="prod-cat-id" value="{{ cat.id }}">
                        <button class="add-product-symb">
                        +
                        </button>
                    </div>
                    
                {% endif %}
            </div>
        {% endfor %}
    </div>  
    </main> 
<script src="{% static 'restaurant_admin/js/modal_add_dish.js' %}"></script>
<script src="{% static 'restaurant_admin/js/modal_edit_dish.js' %}"></script>
<script src="{% static 'restaurant_admin/js/modal_add_category.js' %}"></script>
<script src="{% static 'restaurant_admin/js/modal_edit_category.js' %}"></script>
<script src="{% static 'restaurant_admin/js/load_image.js' %}"></script>
{% endblock content %}

