{% extends 'restaurant_admin/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'restaurant_admin/css/ordersstyle.css' %}">
{% endblock links %}
{% block content %}
    <header>
        <div class="wrapper-header">
            <div class="head">
                <div class="head__logo">
                    <a href="#"><img src="{{path_pref}}media/photos/template_images/logo.png" alt="logo"></a>
                </div>
                <div class="head__slogan">
                    <span>Керування замовленнями</span>
                </div>
                <ul class="head__buttons">
                    <li><a href="#" class=""><img src="{{path_pref}}media/photos/icons/table-26.svg" alt="" class="icon"><div class="circle"><span>3</span></div></a></li>
                    <li><a href="#"><img src="{{path_pref}}media/photos/icons/basket-outline.svg" alt="" class="icon"><div class="circle"><span>3</span></div></a></li>
                    <li><a href="#"><img src="{{path_pref}}media/photos/icons/log-out-outline.svg" alt="" class="icon"></a></li>   
                </ul>
            </div>
        </div>
        <div class="h-scroller">
            <div class="h-scroller__items">
                <a href="#" class="h-scroller__item">Усі замовлення</a>
                <a href="#" class="h-scroller__item">Нові</a>
                <a href="#" class="h-scroller__item">Активні</a>
                <a href="#" class="h-scroller__item">Скасовані</a>
                <a href="#" class="h-scroller__item">Завершені</a>
            </div>
        </div>
    </header>
    <main>
        <div class="modal"></div>
        <div class="modal__content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="field">
                    <span class="detail__title"></span>
                </div>
                <div class="field">
                    <span class="warning">Ви дійсно хочете скасувати це замовлення?</span>
                </div>
                <div class="field">
                    <textarea class='big-field' name="review_text"  
                    cols="30" rows="10" 
                    placeholder="Вкажіть причину скасування"></textarea>
                </div>
                <div class="field buttons_p">
                    <input type="submit" value="Так" class="btn_review yes">
                    <input type="button" value="Ні" class="btn_review no">
                </div>
            </form>
        </div> 
        <div class="wrapper-main">
            <div class="block block-form-reservation">
                <h2 class="title">Усі бронювання столиків</h1>
                {% for order in reservations %}
                    <div class="order">
                        <div class="label">
                            <h3 class="name">Бронювання № {{order.id}}</h3>
                            <!-- <span class="status new">Нове</span> -->
                            <!-- <span class="status active">Активно</span> -->
                            <span class="status canceled">Скасовано</span>
                            <!-- <span class="status completed">Завершено</span> -->
                        </div>
                        <p>Ім'я клієнта: {{ order.client_name }}</p>
                        <p>Номер телефону: {{ order.client_phone_number }}</p>
                        <p>Дата бронювання: {{ order.date_reservation }}</p>
                        <p>Час бронювання: {{ order.time_reservation }}</p>
                        <p>Кількість персон: {{ order.amount_persons }}</p>
                        <p>Замовлення: {{ order.order }}</p>
                        <p>Коментар до замовлення: {{ order.order_comment }}</p>
                        <p>Вартість замовлення: {{ order.total_price }} грн</p>
                        <div class="buttons">
                            <button class="enter">Підвердити</button>
                            <button class="cancel">Скасувати</button>
                        </div>                     
                    </div>
                {% endfor %}
            </div>  
            <div class="block block-form-order">
                <h2 class="title">Усі самовивози</h1>
                {% for order in takeaways %}
                    <div class="order">
                        <div class="label">
                            <h3 class="name">Самовивіз № {{order.id}}</h3>
                            <!-- <span class="status new">Нове</span> -->
                            <span class="status active">Активно</span>
                            <!-- <span class="status canceled">Скасовано</span> -->
                            <!-- <span class="status completed">Завершено</span></h3> -->
                        </div>                        
                        <p>Ім'я клієнта: {{ order.client_name }}</p>
                        <p>Номер телефону: {{ order.client_phone_number }}</p>
                        <p>Час приготування: {{ order.time_cooking }}</p>
                        <p>Замовлення: {{ order.order }}</p>
                        <p>Коментар до замовлення: {{ order.order_comment }}</p>
                        <p>Вартість замовлення: {{ order.total_price }} грн</p>
                        <div class="buttons">
                            <button class="enter">Підвердити</button>
                            <button class="cancel">Скасувати</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script defer src="{% static 'restaurant_admin/js/modal.js' %}"></script>
{% endblock content %}