@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Roboto+Slab:wght@200&display=swap');
header{
	background-color: #f4f5f0;
	height: 10vh;
	position: fixed;
	width: 100%;
	/* border-radius: 0 0 20px 20px; */
	/* border-bottom: 5px solid #228751; */

}

header .wrapper-header{
	margin: 0 auto;
}

.head{
	display: flex;
	justify-content: space-between;
}

.head__buttons{
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.head__buttons li a{
	font-size: 3.5vh;
	color: #554441;
	margin-left: 20px;
    position: relative;
    padding-right: 30px;
}
.icon{
    height: 3.5vh;
    position: absolute;
}
.circle{
    position: absolute;
    height: 2vh;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin-left: 40px;
}
.circle span{
    font-family: Arial, Helvetica, sans-serif;
    right: 0;
    position: absolute;
    font-size: 2vh;
    color: white;
    margin-right: 5px;
}
.head__buttons li a:hover{
	color: grey;
}

.head__logo{
	margin-left: 20px;
}
.head__logo img{
	height: 10vh;
}
.head__slogan{
	font-size: 35px;
	display: flex;
	align-items: center;
	font-family: 'Roboto Slab', serif;
	color: #554441;
}

@media (max-width:349px) {

	header{
		height: 8vh;
	}
	.head__logo img{
		height: 8vh;
	}
	.head__buttons li a{
		font-size: 2.5vh;
	}
	

	
}
.h-scroller{
    overflow: hidden;
    width: fit-content;
    margin: 1.5vh auto 0 auto;
    

}

.h-scroller__items{
    padding: 0.5vh 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
   
    
}
.h-scroller__item{
    font-size: 2.4vh;
    /* background-color: #554441; */
    border: 1px #554441 solid;
    color: #554441;
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    margin: 0 10px 0 10px;
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;

   
}   

.selected_category{
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    box-shadow: 2px 2px 2px grey;
}

.h-scroller__item:hover{
    box-shadow: 2px 2px 2px grey;
}
.wrapper-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 5vh auto;
    max-width: 830px; 
}
.block-form-order, .block-form-reservation{
    overflow-y: auto;
    /* margin: 0 100px; */
    height: 80vh;
    margin-top: 18vh;
    background-color: rgb(57, 55, 55);
    width: 400px;
    border-radius: 30px;
    background-color: #f4f5f0;
    border: 1px #554441 solid;
    box-shadow: grey 2px 2px 10px;
    font-family: 'Roboto Slab';
    color: #554441;
}
.block-form-order::-webkit-scrollbar, .block-form-reservation::-webkit-scrollbar{
    width: 7px;
}
.block-form-order::-webkit-scrollbar-thumb, .block-form-reservation::-webkit-scrollbar-thumb{
    background: gray;  
}
.title{
    padding-top: 1vh;
    text-align: center;
    font-size: 2vh;
    font-weight: 900;

}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    transition: all 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.modal--bg {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.modal__content{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 540px;
    max-width: 960px;
    background-color: #f4f5f0;
    color: #554441;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: all 250ms ease-in-out;
    left:50%;
    transform: translate(-50%,0);
}
.modal__content--show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 2;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
.modal__img {
    width: 80%;
    border-radius: 15px;
    border: 1px #554441 solid;
}
.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #212527;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    z-index: 3;
}
.modal__close:hover {
    color: #df4747;
}
.modal__left, .modal__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal__right{
    height: 100%;
}
.detail p{
    margin-top: 50px;
    text-align: center;
}
.detail .detail__title{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

.detail__description{
    font-style: italic;
}

.detail__price {
  font-weight: bold;
  font-family: 'Arial';
  font-size: 18px;
}
.detail__bagBtn {
  cursor: pointer;
  color: #554441;
  box-shadow: 1px 1px 2px grey;
  border: 1px #554441 solid;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  display: block;
  margin: 0 auto;
}
.detail__bagBtn:hover {
    background-color: gainsboro;
}
.order{
    margin-top: 3vh;
    padding: 0 5px;
    padding-bottom: 0.5vh;
    border-bottom: 1px solid rgb(3, 67, 3);
    font-size: 1.6vh;
    font-weight: 600;
}

.order h3{
    font-weight: bolder;
    font-size: 1.8vh;
    color: black;
}
.order h3 .status{
    margin-left: 100px;
}
.order h3 .new{
    color: darkgreen;
}
.order h3 .active{
    color: limegreen;
}
.order h3 .canceled{
    color: red;
}
.order h3 .completed{
    color: grey;
}
.order p{
    margin-top: 1vh;
}
.order .buttons{
    margin: 1vh 0 1vh 0;
    text-align: center;
    font-size: 2vh;
}
.order .buttons .enter{
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
}
.order .buttons .cancel{
    background-color: darkred;
    color: white;
    border-radius: 5px;
}
@media (max-width:830px){
    .wrapper-main{
        align-items: center;
        flex-direction: column;
        
    }
    .block-form-order, .block-form-reservation{
        width: 95%;
        height: 40vh;
        margin: 0;
        
    }
    .block-form-reservation{
        margin-top: 18vh;
    }
    .block-form-order{
        margin-top: 1vh;
    }
    .head__slogan{
		display: none;
	}	
    .h-scroller{
        width: 100%;
    }
    .modal__content{
        width: 95%;
    }
}
