{% load static %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage/css/basestyle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainpage/css/homestyle.css' %}" type="text/css">
    
    <title>{{title}}</title>
    {% get_rest_info as rest_info %}
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="head">
                <div class="head__logo">
                    <a href="{% url 'home' %}"><img src="media/photos/template_images/logo.jpg" alt="logo"></a>
                </div>
                <ul class="head__buttons">
                    <li><a href="tel:+{{ rest_info.rest_phone_number }}" class=""><ion-icon name="call-outline"></ion-icon></a></li>
                    <li><a href="{% url 'reservation' %}"><ion-icon name="basket-outline"></ion-icon></a></li>
                    <li><a href="#" class="burger-menu__button"><ion-icon name="menu-outline"></ion-icon></a></li>   
                </ul>
            </div>
            <div class="burger-menu">
                
                <ul class="burger-menu__links">
                    <li><a href="#" class="burger-menu__button"><ion-icon name="close-outline"></ion-icon></a></li>
                    <li><a href="{% url 'home' %}"><img src="media/photos/template_images/logo.jpg" alt="logo"></a></li>
                    <li><a href="{% url 'all_menu' %}" class="link">Меню</a></li>
                    <li><a href="{% url 'reservation' %}"class="link">Бронювання столику</a></li>
                    <li><a href="{% url 'about_us' %}"class="link">Про нас</a></li>
                    <li><a href="{% url 'contacts' %}"class="link">Контакти</a></li>
                    <li><a href="{% url 'review_form' %}"class="link">Ваш відгук</a></li>
                </ul>
                <div class="burger-menu__overlay"></div>
            </div>
    </header>
        
    </div>

    {% block content %}

    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'mainpage/js/basescripts.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
