{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'mainpage/css/mainpagestyle.css' %}">
{% endblock links %}
{% block content %}
<div class="main-block">
    <div class="container">
        <div class="main-block__title">
            <span>Manufactura</span>
        </div>
        <div class="main-block__slogan">
            <span>Ресторан з історією</span>
        </div>
       <div class="container-buttons">
            <div class="main-block__buttons">
                <a class="to-menu" href="{% url 'all_menu' %}">Меню</a>
                <a class="to-reservation" href="{% url 'reservation_only' %}">Бронювання столику</a>
            </div>
        </div>
       
        <div class="main-block__slider"></div>
    </div>
    
</div>



{% endblock content %}
