{% extends 'base/base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'mainpage/css/mainpagestyle.css' %}">
{% endblock links %}
{% block content %}
<div class="main-block">
    <div class="main-block__container">
        <div class="main-block__title">
            <span>Manufactura</span>
        </div>
        <div class="main-block__slogan">
            <span>Ресторан з історією</span>
        </div>
       <div class="container-buttons">
            <div class="main-block__buttons">
                <a class="to-menu" href="{% url 'all_menu' %}">Меню</a>
                <a class="to-reservation" href="{% url 'reservation_only' %}">Бронювання столику</a>
            </div>
        </div>

        <div class="slider">
            <div class="slider-line">
                {% for slide in slider_images %}
                    <img src="{{slide.photo.url}}" alt="">
                {% endfor %}
            </div>
        </div>
    </div>    
</div>

<div class="about-block">
    <div class="about-block__info">
        <div class="about-block__title">
            <span>Про ресторан</span>
        </div>
        <div class="about-block__text">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, minima! Modi, saepe. 
                Fugit earum vitae doloribus quis, sed unde ipsam, reiciendis quisquam libero aperiam, 
                quasi facere animi enim optio dicta!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, minima! Modi, saepe. 
                Fugit earum vitae doloribus quis, sed unde ipsam, reiciendis quisquam libero aperiam, 
                quasi facere animi enim optio dicta!
            </span>
        </div>
        <div class="about-block__button">
            <a href="{% url 'about_us' %}">Детальніше</a>
        </div>
        

    </div>
    <div class="about-block__image">
        <img src="media/photos/template_images/mainpage/about.png" alt="">
    </div>
</div>

<div class="follow-us-block">
    <div class="follow-us-block__info">
        <div class="follow-us-block__title">
            <span>Слідкуйте за нами</span>
        </div>
        <div class="follow-us-block__text">
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, corrupti. 
                Vero delectus sapiente tempore debitis saepe ipsa excepturi atque.
            </span>
        </div>
        <div class="follow-us-block__button">
            <a href="https://instagram.com/manufactura.restaurant">Наш Інстаграм</a>
        </div>
    </div>
    <img src="media/photos/template_images/mainpage/block_follow_us/1.png" alt="">
    <img src="media/photos/template_images/mainpage/block_follow_us/2.png" alt="">
    <img src="media/photos/template_images/mainpage/block_follow_us/3.png" alt="">
    <img src="media/photos/template_images/mainpage/block_follow_us/4.png" alt="">
    <img src="media/photos/template_images/mainpage/block_follow_us/5.png" alt="">
    <img src="media/photos/template_images/mainpage/block_follow_us/6.png" alt="">
</div>

<div class="contacts-block">
    <div class="contacts-block__map-img">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5291.422891370646!2d35.03653351544916!3d48.462065766985276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe394045991a3%3A0x11940a11c1c3e439!2sManufactura%20restaurant!5e0!3m2!1sru!2sde!4v1655383504552!5m2!1sru!2sde" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contacts-block__info">
        <div class="contacts-block__title">
            <span>Контакти</span>
        </div>
        <div class="contacts-block__address">
            <span class="address__text">Дніпро, вулиця М. Грушевського 4А </span>
        </div>
        <div class="contacts-block__time-working">
            <span>Працюємо {{rest_info.time_working }}</span>
        </div>
        <div class="contacts-block__phone-number">
            <span>Телефонуйте нам:
                <a href="tel:+{{ rest_info.rest_phone_number }}">+{{ rest_info.rest_phone_number }}</a>
            </span>
        </div>
        <div class="contacts-block__instagram">
            <span class="instagram__text"><a href="https://instagram.com/manufactura.restaurant">Ми в Інстаграм</a></span>
        </div>
    </div>
</div>

    
{% endblock content %}

{% block scripts %}
    <script src="{% static 'mainpage/js/sliderscript.js' %}"></script>
{% endblock scripts %}
