


.h-scroller{
    overflow-y: hidden;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

}

.h-scroller__items{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}
.h-scroller__item{
    color: #424242;
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
   
}
.h-scroller__item:not(:last-child){
    border-right: 1px solid #eee;
}


.selected_category{
    color: red;
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
}

.list {	
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.product {	
	flex-basis: 310px;
	text-align: center;
    margin: 30px;
	border: 1px solid rgb(229, 216, 216);
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px grey;  
}

.product .product_photo{
    margin-top: 25px;   
}

.product_text p{
    margin-top: 15px;
}



.product_photo img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

.name{
    font-size: 20px;
    color: #493e34;
    font-weight: bold;
}

.composition{
    color: #90877e;
    font-style: italic;
}

.price{
    color: white;
    background-color: #493e34;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}