
/* Оформление скроллера */
.h-scroller{
    overflow: hidden;
    width: fit-content;
    margin: 15px auto 0 auto;

}

.h-scroller__items{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    
}
.h-scroller__item{
    font-size: 24px;
    font-family: 'Caveat';
    background-color: #424242;
    color: white;
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
    margin: 0 10px 0 10px;
    border-radius: 20px;

   
}   

.selected_category{
    color: wheat;
    display: flex;
    padding: 0.5rem 1.25rem;
    text-decoration: none;
}

.h-scroller__item:hover{
    color: gray;
}

.selected_category:hover{
    color: wheat;
}



/* Оформление блюд */
.list {	
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.list:last-child{
    margin-bottom: 50px;
}

.category-title{
    font-family: 'Caveat';
    font-size: 70px;
    /* text-align: center; */
    margin: 30px 0 0 30px;

}

.category-underline{
    font-weight: bolder;
}

.product {	
	flex-basis: 310px;
    margin: 30px;
	border: 1px solid rgb(229, 216, 216);
    border-radius: 20px;
    background-color: white;
    box-shadow:   0 2px grey;  
    transition: box-shadow 0.5s;
} 

.product:hover{
    box-shadow: 0 0  6px 6px grey;  
}

.product .product_photo{
    margin-top: 25px; 
    
    text-align: center;
}

.product_text p{
    margin-top: 15px;
    margin-left: 10px;  
}



.product_photo img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

.name{
    font-size: 25px;
    color: #493e34;
    font-weight: bold;
    margin-left: 10px;  
    font-family: 'Caveat';
}

.composition{
    color: #90877e;
    font-style: italic;
    margin-left: 10px;  
}


.product__bottom{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

}
.price{
    font-weight: bold;
    font-size: 20px;
    color: #493e34;
    margin-bottom: 10px;
    margin-left: 10px;  
    font-family: Arial, Helvetica, sans-serif;
}

.product__bottom img{
    width: 30px;
    margin-right: 20px;
}

.btn-buy{
    background: none;

    
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    transition: all 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.modal--bg {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.modal__content{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 540px;
  max-width: 960px;
  background-color: #edf7f6;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: all 250ms ease-in-out;
  left:50%;
  transform: translate(-50%,0);
}
.modal__content--show {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 2;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}
.modal__img {
  width: 80%;
  border-radius: 15px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #212527;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  z-index: 3;
}
.modal__close:hover {
  color: #df4747;
}
.modal__left, .modal__right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal__right{
    height: 100%;
}
.detail p{
    margin-top: 50px;
    text-align: center;
}
.detail .detail__title{
    font-weight: bold;
    font-size: 28px;
    font-family: 'Caveat';
}

.detail__description{
    font-style: italic;
}

.detail__price {
  font-weight: bold;
  font-family: 'Arial';
  font-size: 18px;
}
.detail__bagBtn {
  cursor: pointer;
  background: #212527;
  color: #edf7f6;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
  border-radius: 5px;
  font-family: 'Caveat';
}
.detail__bagBtn:hover {
  color: grey;
}
.switch{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
}
.switch label{
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: 16px;
    position: relative;
    top:10px
   
}

.form_control{
    width: 30px;
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
    background-color: #edf7f6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.increment_btn, .decrement_btn{
    font-size: 45px;
    font-weight: bold;
    background: none;
    font-family: "Caveat";
    color: grey;
}

.increment_btn:hover, .decrement_btn:hover{
    color:gold
}
/* .product-amount{
    border-radius: 10px;
    border: 1px black solid;
    width: 40px;
    text-align: center;
    color: #493e34;
    font-size: 22px;
   
  
    
} */

/* form{
    display: block;
} */
 

.btn-buy img:active{
    background-color: gainsboro;
    border-radius: 50%;
}

@media (max-width:1023px){
    .modal__img {
        width: 100%;
        
      }
}

@media (max-width:767px) {

    .h-scroller{
        width: 100%;
    }

    .modal__content--show{
        width: 95%;
    }

} 


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}