{% extends 'base/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'for_user/css/about_us_style.css' %}" type="text/css">
{% endblock links %}

{% block content %}
<div class="about-block">
    <div class="about-block__info">
        <div class="about-block__title">
            <span>Про ресторан</span>
        </div>
        <div class="about-block__text">
            <p><span></span>Ресторан Manufactura розташований у самому центрi мiста Днiпра в iсторичнiй будiвлi 1872 року.
            Простора зала, сучасний стиль інтер’єру, світлі кольори меблів, панорамні вікна з краєвидом на мальовничий квартал мiста – все це дарує гостям відчуття свободи та легкості.
            Головна зала ресторану оформлена стримано та елегантно. В центрі — оригінальнi свiтильники на стелi, що запалюються вечорами та додають закладу чарiвний затишок.</p>
            <p><span></span>Тут можна гідно організувати будь-який захід: ділову зустріч, романтичне побачення, корпоративний банкет, весільну церемонію, сімейне свято чи зустрiч з друзями.</p>
            <p><span></span>Визначними подіями в ресторані залишаються  окремо організовані Гастро вечері, де готуються унікальні страви з гармонійно підібраним пейрингом вин чи напоїв.</p>
            <p><span></span>В ресторані Manufactura європейські та українські страви ви скуштуєте у виконанні нашого шефа Євгена Корольова. 
            Страви готуються виключно за авторськими рецептами та є вiдображенням сучасних технік приготування, сезонностi локальних продуктів та iдеального балансу смаку та поєднання.
            Унікальна колекція вина ресторану Manufactura здивує навіть самого досвідченого гурмана.
            Основа винної карти — вина Франції, Італії та Іспанії, які зберігаються в нашому винному погребі.
            Також ми пропонуємо вина Нового світу, а окремим здивуванням будуть запропановані українські крафтові вина від локальних  виробників.</p>
        </div>
        

    </div>
    <div class="about-block__image">
        <img src="{{path_pref}}media/photos/template_images/mainpage/about.png" alt="">
    </div>
</div>
{% endblock content %}