/* Оформление блока о сайте */
.about-block {

    margin: 70px auto 70px auto;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    max-width: 200vh;
    color: #554441;

}

.about-block__info {
    max-width: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}


.about-block__title{
    width:fit-content;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    border-bottom: 2px rgb(3, 67, 3) solid;
    padding-bottom: 7px;
}

.about-block__text{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}





.about-block__image{
    width: 80vh;
    margin: 10px;

}

.about-block__image img{
    width: 80vh;
    border-radius: 20px;
    border: 1px #554441 solid;
    box-shadow: 1px 1px 2px grey;
    
}




/* Медиа-запросы */
@media (max-width:1023px){
    .about-block__image, .about-block__image img, .about-block__info, .about-block{
        max-width: 55vh;
    }

}

@media (max-width:767px) {

    .about-block__image, .about-block__image img, .about-block__info{
        max-width: 45vh;
    }
    
    .about-block__title{
        width:min-content;
    
    }
    
}

@media (max-width:280px) {
    .about-block__image img{
        max-width: 40vh;
    }
    
}
